/* whole page*/
.TODO{ font-size: 18px; color:#FF0000;font-style:italic;}
.page{margin:0; padding:0; width:100%; background:#FFFFFF}
.pageBox{width: 1024px; height: 900px; margin:0 auto;padding: 0;background-color: #CCCCCC;}
.headerBox {width: 1024px; height: 40px; margin:0;padding: 0;background-color:#666666}
.bodyBox {width: 1024px; height: 800px; margin:0;padding: 0;background-color:#999999}
.footerBox {width: 1024px; height: 60px; margin:0;padding: 0;background-color:#666666}

/* body box */
.leftPanel{
	float: left;
	width: 180px;
	height:inherit;
	margin: 0px;
	padding: 0px;
	background-color: #CCCCCC;
}
.rightPanel{
	float:right;
	width: 180px;
	height:inherit;
	padding: 0px;
	background-color: #FF9999;
}

.centralPanel{
	float: left;
	width: 660px;
	height:inherit;
	background-color: #DCFAEB;
}
/* -- body-left */
/* -- ---------notifications */
/* -- ---------resultTree */
.title {padding-left:40px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}
.category{padding-left:15px;}
.category-name {}
.items{}
.list-items{
	list-style-type: none;
}
.list-item{}
.item{}
.item-name{}
.unauthorized-promotions{ padding-left: 30px; bottom:0px;}
/* -- body-right */
.newest-promotions{}
.newest-promotion{width:inherit; height:70px;}
.newest-promotion .image{width:100px; height:50px; float:left}
/* -- body-central*/
/* -- -----------control Box*/
.controlBox {	height: 40px;	width: 100%;	vertical-align:bottom;	background-color:#B6EFFA;}
.control-tabs{padding-top:14px;	height:26px;	display: inline;	position: relative;	left: 5px;	float: left;}
.control-map {float: right; padding-top:8px; padding-right:20px;}
#btnMap {height:26px; width:100px;font-size:18px;}

.control-tab{margin-right: 5px; padding-top:2px;height: 26px; float:left}
#control-tab-favorites a{padding-left:10px; padding-right:10px}
#control-tab-myPromotions a{padding-left:5px; padding-right:5px}
#control-tab-hots a{padding-left:20px; padding-right:20px}
.control-tab a{	background-image:url(../images/h2_bg_top.gif); color:#FFFFFF; font-size: 20px; padding-top:2px; padding-bottom:2px;}
.control-tab a:link{	color: #FFFFFF;	text-decoration: none;}
.control-tab a:visited{	color: #FFFFFF;	text-decoration: none;}
.control-tab a:hover{	color:#FF6600;	text-decoration: none;}
.control-tab a:active{	color: #FF6600;	text-decoration: none;	background:#00CC66;}

#tabLine{
	height:8px;
	background-color: #000033;
}
/* -- -----------index-search-Box*/
.indexPath-search-Box{width: 660px;
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;}
.indexPath{float:left}	
#search_tool {
	float: right;
	display:inline;
	height:26px;
}
#searchImage{float:right; padding-top:2px;}
#searchInput{float:right; margin-left:0px; width:250px;}

/* -- -----------view-Box*/
.viewBox{
	width: 660px;
	height:inherit;
}
.viewPanel{}
.image{
	width: 620px;
	margin: 0 auto;
}
.thumbnail{margin-top: 10px;
	margin-right: 25px;
	margin-bottom: 10px;
	margin-left: 25px;
	width:280px;
	height:240px;
	float:left;}
.thumbnail .image {
}
.count-down-clock{color:#FF0000;font-size:24px;}
.toDetail{float:left;}
.like-share{float:right;}

/*-----Login-------*/
.loginPanel{width:500px;height:200px; margin:0 auto;}
.one-line{clear:both;}
.label{ float:left; width:120px;height:30px;}
.input{ float:left;margin-left:50px; height:30px;}
.submits{
	clear: both;
}
.notice{padding-left:40px;font-style:italic;width:inherit;clear:both}
