#brand{font-size: 24px; text-align: left; float: left; left: 0px; top: 0px;	position: relative;	color:#FF3300;
}
#userNav{
	float: right;
	color: #FFFFFF;
}

#userNav a{
	color: #FFFFFF;
	text-decoration: none;
}

#userNav a:link{
	color: #FFFFFF;
	text-decoration: none;
}

#userNav a:visited{
	color: #FFFF00;
	text-decoration: none;
}

#userNav a:hover{
	color: #FFFF00;
	text-decoration: underline;
}
