<div class="thumbnail">
	<H1>---------Title---------</h1>
	<img src="../../../images/adidas1.jpg"/>
	<div class="detailBox">
		<div class="count-down-clock"><p><span style="color:#FF0000;font-size:24px;">count-down 04:00</span></p></div>
		<div class="toDetail"><a href="#">XEM >></a></div>
		<div class="like_share"> <button>Like</button> <button>Share</button></div>
	</div>
</div>		