table{
	
}

#body{	width:1024px;	position: relative;}

/*-- block tab links & map--*/
#blockTab_MapNav {	height: 40px;	width: 100%;	vertical-align:bottom;	background-color:#B6EFFA;}
#tabsNav{padding-top:14px;	height:26px;	display: inline;	position: relative;	left: 5px;	float: left;}
#mapNav {float: right; padding-top:8px; padding-right:20px;}
#btnMap {height:26px; width:100px;font-size:18px;}
/* tab of tabsNav */
#tabsNav div{margin-right: 5px; padding-top:2px;height: 26px; }
#favoritesNav{float:left;}
#myPromotionsNav{float: left;}
#hotsNav{float: left;}

#tabsNav div a{	background-image: url(../images/h2_bg_top.gif); color:#FFFFFF; font-size: 20px; padding-top:2px; padding-bottom:2px;}
#favoritesNav a{padding-left:10px; padding-right:10px}
#myPromotionsNav a{padding-left:5px; padding-right:5px}
#hotsNav a{padding-left:20px; padding-right:20px}

#tabsNav div a:link{	color: #FFFFFF;	text-decoration: none;}
#tabsNav div a:visited{	color: #FFFFFF;	text-decoration: none;}
#tabsNav div a:hover{	color:#FF6600;	text-decoration: none;}
#tabsNav div a:active{	color: #FF6600;	text-decoration: none;	background:#00CC66;}

#tabLine{
	height:8px;
	background-color: #000033;
}
#leftPanel{
	float: left;
	width: 180px;
	height:900px;
	margin: 0px;
	padding: 0px;
	background-color: #CCCCCC;
}
#rightPanel{
	float:right;
	width: 180px;
	height:900px;
	padding: 0px;
	background-color: #FF9999;
}

#centralPanel{
	float: left;
	width: 660px;
	height:900px;
	background-color: #DCFAEB;
}

#contents{
	width: 660px;
	height:862px;
}
#tabFavorites {
	width: 660px;
}
#tabMyPromotions{
	display: none;
	width: 660px;
}
#tabHots_All{
	display: none;
	width: 660px;
}
#block_contents_search {
	width: 660px;
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}
#search_tool {
	float: right;
	display:inline;
	height:26px;
}
#searchImage{float:right; padding-top:2px;}
#searchInput{float:right; margin-left:0px; width:250px;}
.block_detail {
	height: 30px;
	width: 100%;
}
.like_share {
	float: right;
	margin: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.detail_link {
	float: left;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.mini_Promo{
	margin-top: 10px;
	margin-right: 25px;
	margin-bottom: 10px;
	margin-left: 25px;
	width:280px;
	height:240px;
	float:left;
}
.mini_Promo p{
	margin: 5px 5px;
}
/*--------------left content--------------*/
#promoControl{
	
}
#promotionHome{
	width:180px;
}
#resultTree{
	background:#3a3a3a;
	color:#FFFFFF;
}
#lbResult{
	padding-left:40px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}

.category{padding-left:15px;}
.categoryGroup{padding-left:30px;}
.discount{
	font-style: italic;
	color: #FF3333;
}