#main_container {
	height: auto;
	width: 1024px;
	position: relative;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	background-position: center top;
}
#main_container #header {
	height: 40px;
	background-color: #CCCCCC;
	clear: left;
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#main_container #body {
	background-color: #FBFEFF;
	height: 800px;
}
#main_container #header #login {
	width: 40%;
	float: right;
	text-align: right;
	height: 100%;
}
#main_container #header #title {
	width: 30%;
	float: left;
	height: 100%;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	vertical-align: middle;
}

#main_container #body #leftPanel {
	width: 180px;
	height: 800px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	float: left;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	
}
#main_container #body #rightPanel {
	width: 180px;
	height: 800px;
	float: right;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
#main_container #body #contentPanel {
	width: 658px;
	height: 800px;
	float: left;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}


#main_container #footer {
	height: 100px;
	background-color: #CCCCCC;
}
